<!DOCTYPE html>
<html lang="[]" class="[]">

<head>
<meta charset="UTF-8">

<title>[]</title>
<meta name="description" content="[]">
<meta name="keywords" content="[]">
<link rel="canonical" href="[]">

<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no">
<link rel="apple-touch-icon" sizes="152x152" href="/apple-touch-icon.png">

<meta property="og:title" content="[]" />
<meta property="og:type" content="[]" />
<meta property="og:description" content="[]" />
<meta property="og:url" content="[]" />
<meta property="og:site_name" content="Ploom（プルーム）ブランドサイト" />
<meta property="og:image" content="[]" />

  
    <!--#include virtual="/include/header-type01.html" -->
    <!--#include virtual="/template/sample-include/sample-header.html" -->

    <main id="main-area">
      <!-- メインコンテンツ -->
      <div class="wrapper">
        <div class="wrapper-Inner">
          <!-- 任意のコンテンツ内容 -->

          <h1>004-Teaser01</h1>
          
          <div class="container">
            <h2 class="sample-ttlh2">Teaser01</h2>
            <div class="aem-Grid center-Grid aem-Grid--12 aem-Grid--default--12">
              <div class="aem-GridColumn--default--none aem-GridColumn aem-GridColumn--offset--default--0 aem-GridColumn--default--6 aem-GridColumn--phone--12">
                <div class="component">
                  <div class="teaser cmpjt-teaser-01">
                    <div class="cmp-teaser">
                      <div class="cmp-teaser__image">
                        <div class="cmp-image">
                          <img src="/template/sample-img/img_teaser01-01.png" class="cmp-image__image" alt="">
                        </div>
                      </div>
                      <div class="cmp-teaser__content">
                        <h2 class="cmp-teaser__title">
                          <a class="cmp-image__link" href="#">
                            <span class="cmp-teaser__title-link" href="#">リンクティーザー</span>
                          </a>
                        </h2>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="sample-code">
              <pre class="brush:html">
                &lt;div class="aem-Grid center-Grid aem-Grid--12 aem-Grid--default--12"&gt;
                  &lt;div class="aem-GridColumn--default--none aem-GridColumn aem-GridColumn--offset--default--0 aem-GridColumn--default--6 aem-GridColumn--phone--12"&gt;
                    &lt;div class="component"&gt;
                      &lt;div class="teaser cmpjt-teaser-01"&gt;
                        &lt;div class="cmp-teaser"&gt;
                          &lt;div class="cmp-teaser__image"&gt;
                            &lt;div class="cmp-image"&gt;
                              &lt;img src="/template/sample-img/img_teaser01-01.png" class="cmp-image__image" alt=""&gt;
                            &lt;/div&gt;
                          &lt;/div&gt;
                          &lt;div class="cmp-teaser__content"&gt;
                            &lt;h2 class="cmp-teaser__title"&gt;
                              &lt;a class="cmp-image__link" href="#"&gt;
                                &lt;span class="cmp-teaser__title-link" href="#"&gt;リンクティーザー&lt;/span&gt;
                              &lt;/a&gt;
                            &lt;/h2&gt;
                          &lt;/div&gt;
                        &lt;/div&gt;
                      &lt;/div&gt;
                    &lt;/div&gt;
                  &lt;/div&gt;
                &lt;/div&gt;
              </pre>
            </div>
            
            <h2 class="sample-ttlh2">Teaser01:テキスト情報あり01</h2>
            <div class="aem-Grid center-Grid aem-Grid--12 aem-Grid--default--12">
              <div class="aem-GridColumn--default--none aem-GridColumn aem-GridColumn--offset--default--0 aem-GridColumn--default--6 aem-GridColumn--phone--12">
                <div class="component">
                  <div class="teaser cmpjt-teaser-01">
                    <div class="cmp-teaser">
                      <div class="cmp-teaser__image">
                        <div class="cmp-image">
                          <img src="/template/sample-img/img_teaser01-02.png" class="cmp-image__image" alt="">
                        </div>
                      </div>
                      <div class="cmp-teaser__content">
                        <div class="text cmpjt-text-01">
                          <div class="cmp-text">
                            <p>Ploom Sをご購入された方へ</p>
                          </div>
                        </div>
                        <h2 class="cmp-teaser__title">
                          <a class="cmp-image__link" href="#">
                            <span class="cmp-teaser__title-link" href="#">Ploom S サポート</span>
                          </a>
                        </h2>
                        <div class="text cmpjt-text-01">
                          <div class="cmp-text">
                            <p>Ploom Sの販売は終了しました</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="sample-code">
              <pre class="brush:html">
                &lt;div class="aem-Grid center-Grid aem-Grid--12 aem-Grid--default--12"&gt;
                  &lt;div class="aem-GridColumn--default--none aem-GridColumn aem-GridColumn--offset--default--0 aem-GridColumn--default--6 aem-GridColumn--phone--12"&gt;
                    &lt;div class="component"&gt;
                      &lt;div class="teaser cmpjt-teaser-01"&gt;
                        &lt;div class="cmp-teaser"&gt;
                          &lt;div class="cmp-teaser__image"&gt;
                            &lt;div class="cmp-image"&gt;
                              &lt;img src="/template/sample-img/img_teaser01-02.png" class="cmp-image__image" alt=""&gt;
                            &lt;/div&gt;
                          &lt;/div&gt;
                          &lt;div class="cmp-teaser__content"&gt;
                            &lt;div class="text cmpjt-text-01"&gt;
                              &lt;div class="cmp-text"&gt;
                                &lt;p&gt;Ploom Sをご購入された方へ&lt;/p&gt;
                              &lt;/div&gt;
                            &lt;/div&gt;
                            &lt;h2 class="cmp-teaser__title"&gt;
                              &lt;a class="cmp-image__link" href="#"&gt;
                                &lt;span class="cmp-teaser__title-link" href="#"&gt;Ploom S サポート&lt;/span&gt;
                              &lt;/a&gt;
                            &lt;/h2&gt;
                            &lt;div class="text cmpjt-text-01"&gt;
                              &lt;div class="cmp-text"&gt;
                                &lt;p&gt;Ploom Sの販売は終了しました&lt;/p&gt;
                              &lt;/div&gt;
                            &lt;/div&gt;
                          &lt;/div&gt;
                        &lt;/div&gt;
                      &lt;/div&gt;
                    &lt;/div&gt;
                  &lt;/div&gt;
                &lt;/div&gt;
              </pre>
            </div>
            
            <h2 class="sample-ttlh2">Teaser01:テキスト情報あり01　画面幅100％ 01</h2>
            <div class="aem-Grid center-Grid aem-Grid--12 aem-Grid--default--12">
              <div class="aem-GridColumn--default--none aem-GridColumn aem-GridColumn--offset--default--0 aem-GridColumn--default--12 aem-GridColumn--phone--12">
                <div class="component">
                  <div class="teaser cmpjt-teaser-01">
                    <div class="cmp-teaser">
                      <div class="cmp-teaser__image">
                        <div class="cmp-image">
                          <img src="/template/sample-img/img_teaser01-04.png" class="cmp-image__image pc-show" alt="">
                          <img src="/template/sample-img/img_teaser01-04_sp.png" class="cmp-image__image sp-show" alt="">
                        </div>
                      </div>
                      <div class="cmp-teaser__content">
                        <div class="text cmpjt-text-01">
                          <div class="cmp-text">
                            <p>Ploom Sをご購入された方へ</p>
                          </div>
                        </div>
                        <h2 class="cmp-teaser__title">
                          <a class="cmp-image__link" href="#">
                            <span class="cmp-teaser__title-link" href="#">Ploom S サポート</span>
                          </a>
                        </h2>
                        <div class="text cmpjt-text-01">
                          <div class="cmp-text">
                            <p>Ploom Sの販売は終了しました</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="sample-code">
              <pre class="brush:html">
                &lt;div class="aem-Grid center-Grid aem-Grid--12 aem-Grid--default--12"&gt;
                  &lt;div class="aem-GridColumn--default--none aem-GridColumn aem-GridColumn--offset--default--0 aem-GridColumn--default--12 aem-GridColumn--phone--12"&gt;
                    &lt;div class="component"&gt;
                      &lt;div class="teaser cmpjt-teaser-01"&gt;
                        &lt;div class="cmp-teaser"&gt;
                          &lt;div class="cmp-teaser__image"&gt;
                            &lt;div class="cmp-image"&gt;
                              &lt;img src="/template/sample-img/img_teaser01-04.png" class="cmp-image__image pc-show" alt=""&gt;
                              &lt;img src="/template/sample-img/img_teaser01-04_sp.png" class="cmp-image__image sp-show" alt=""&gt;
                            &lt;/div&gt;
                          &lt;/div&gt;
                          &lt;div class="cmp-teaser__content"&gt;
                            &lt;div class="text cmpjt-text-01"&gt;
                              &lt;div class="cmp-text"&gt;
                                &lt;p&gt;Ploom Sをご購入された方へ&lt;/p&gt;
                              &lt;/div&gt;
                            &lt;/div&gt;
                            &lt;h2 class="cmp-teaser__title"&gt;
                              &lt;a class="cmp-image__link" href="#"&gt;
                                &lt;span class="cmp-teaser__title-link" href="#"&gt;Ploom S サポート&lt;/span&gt;
                              &lt;/a&gt;
                            &lt;/h2&gt;
                            &lt;div class="text cmpjt-text-01"&gt;
                              &lt;div class="cmp-text"&gt;
                                &lt;p&gt;Ploom Sの販売は終了しました&lt;/p&gt;
                              &lt;/div&gt;
                            &lt;/div&gt;
                          &lt;/div&gt;
                        &lt;/div&gt;
                      &lt;/div&gt;
                    &lt;/div&gt;
                  &lt;/div&gt;
                &lt;/div&gt;
              </pre>
            </div>
            
            <h2 class="sample-ttlh2">Teaser01:テキスト情報あり01　画面幅100％ 02</h2>
            <div class="aem-Grid center-Grid aem-Grid--12 aem-Grid--default--12">
              <div class="aem-GridColumn--default--none aem-GridColumn aem-GridColumn--offset--default--0 aem-GridColumn--default--12 aem-GridColumn--phone--12">
                <div class="component">
                  <div class="teaser cmpjt-teaser-01">
                    <div class="cmp-teaser">
                      <div class="cmp-teaser__image">
                        <div class="cmp-image">
                          <img src="/template/sample-img/img_teaser01-04.png" class="cmp-image__image pc-show" alt="">
                          <img src="/template/sample-img/img_teaser01-04_sp.png" class="cmp-image__image sp-show" alt="">
                        </div>
                      </div>
                      <div class="cmp-teaser__content">
                        <div class="text cmpjt-text-01">
                          <div class="cmp-text">
                            <p>店頭サポート</p>
                          </div>
                        </div>
                        <div class="text cmpjt-text-01">
                          <div class="cmp-text">
                            <p>製品に関するご相談など専門のスタッフが<br>店頭でサポートいたします。</p>
                          </div>
                        </div>
                        <h2 class="cmp-teaser__title">
                          <a class="cmp-image__link" href="#">
                            <span class="cmp-teaser__title-link" href="#">Ploom Shop</span>
                          </a>
                        </h2>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="sample-code">
              <pre class="brush:html">
                &lt;div class="aem-Grid center-Grid aem-Grid--12 aem-Grid--default--12"&gt;
                  &lt;div class="aem-GridColumn--default--none aem-GridColumn aem-GridColumn--offset--default--0 aem-GridColumn--default--12 aem-GridColumn--phone--12"&gt;
                    &lt;div class="component"&gt;
                      &lt;div class="teaser cmpjt-teaser-01"&gt;
                        &lt;div class="cmp-teaser"&gt;
                          &lt;div class="cmp-teaser__image"&gt;
                            &lt;div class="cmp-image"&gt;
                              &lt;img src="/template/sample-img/img_teaser01-04.png" class="cmp-image__image pc-show" alt=""&gt;
                              &lt;img src="/template/sample-img/img_teaser01-04_sp.png" class="cmp-image__image sp-show" alt=""&gt;
                            &lt;/div&gt;
                          &lt;/div&gt;
                          &lt;div class="cmp-teaser__content"&gt;
                            &lt;div class="text cmpjt-text-01"&gt;
                              &lt;div class="cmp-text"&gt;
                                &lt;p&gt;店頭サポート&lt;/p&gt;
                              &lt;/div&gt;
                            &lt;/div&gt;
                            &lt;div class="text cmpjt-text-01"&gt;
                              &lt;div class="cmp-text"&gt;
                                &lt;p&gt;製品に関するご相談など専門のスタッフが&lt;br&gt;店頭でサポートいたします。&lt;/p&gt;
                              &lt;/div&gt;
                            &lt;/div&gt;
                            &lt;h2 class="cmp-teaser__title"&gt;
                              &lt;a class="cmp-image__link" href="#"&gt;
                                &lt;span class="cmp-teaser__title-link" href="#"&gt;Ploom Shop&lt;/span&gt;
                              &lt;/a&gt;
                            &lt;/h2&gt;
                          &lt;/div&gt;
                        &lt;/div&gt;
                      &lt;/div&gt;
                    &lt;/div&gt;
                  &lt;/div&gt;
                &lt;/div&gt;
              </pre>
            </div>
            
            <h2 class="sample-ttlh2">Teaser01:テキスト情報あり02</h2>
            <div class="aem-Grid center-Grid aem-Grid--12 aem-Grid--default--12">
              <div class="aem-GridColumn--default--none aem-GridColumn aem-GridColumn--offset--default--0 aem-GridColumn--default--6 aem-GridColumn--phone--12">
                <div class="component">
                  <div class="teaser cmpjt-teaser-01">
                    <div class="cmp-teaser">
                      <div class="cmp-teaser__image">
                        <div class="cmp-image">
                          <img src="/template/sample-img/img_teaser01-03.png" class="cmp-image__image" alt="">
                        </div>
                      </div>
                      <div class="cmp-teaser__content">
                        <div class="text cmpjt-text-01">
                          <div class="cmp-text">
                            <p>店頭サポート</p>
                          </div>
                        </div>
                        <div class="text cmpjt-text-01">
                          <div class="cmp-text">
                            <p>製品に関するご相談など専門のスタッフが<br>店頭でサポートいたします。</p>
                          </div>
                        </div>
                        <h2 class="cmp-teaser__title">
                          <a class="cmp-image__link" href="#">
                            <span class="cmp-teaser__title-link" href="#">Ploom Shop</span>
                          </a>
                        </h2>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="sample-code">
              <pre class="brush:html">
                &lt;div class="aem-Grid center-Grid aem-Grid--12 aem-Grid--default--12"&gt;
                  &lt;div class="aem-GridColumn--default--none aem-GridColumn aem-GridColumn--offset--default--0 aem-GridColumn--default--6 aem-GridColumn--phone--12"&gt;
                    &lt;div class="component"&gt;
                      &lt;div class="teaser cmpjt-teaser-01"&gt;
                        &lt;div class="cmp-teaser"&gt;
                          &lt;div class="cmp-teaser__image"&gt;
                            &lt;div class="cmp-image"&gt;
                              &lt;img src="/template/sample-img/img_teaser01-03.png" class="cmp-image__image" alt=""&gt;
                            &lt;/div&gt;
                          &lt;/div&gt;
                          &lt;div class="cmp-teaser__content"&gt;
                            &lt;div class="text cmpjt-text-01"&gt;
                              &lt;div class="cmp-text"&gt;
                                &lt;p&gt;店頭サポート&lt;/p&gt;
                              &lt;/div&gt;
                            &lt;/div&gt;
                            &lt;div class="text cmpjt-text-01"&gt;
                              &lt;div class="cmp-text"&gt;
                                &lt;p&gt;製品に関するご相談など専門のスタッフが&lt;br&gt;店頭でサポートいたします。&lt;/p&gt;
                              &lt;/div&gt;
                            &lt;/div&gt;
                            &lt;h2 class="cmp-teaser__title"&gt;
                              &lt;a class="cmp-image__link" href="#"&gt;
                                &lt;span class="cmp-teaser__title-link" href="#"&gt;Ploom Shop&lt;/span&gt;
                              &lt;/a&gt;
                            &lt;/h2&gt;
                          &lt;/div&gt;
                        &lt;/div&gt;
                      &lt;/div&gt;
                    &lt;/div&gt;
                  &lt;/div&gt;
                &lt;/div&gt;
              </pre>
            </div>
            
            <h2 class="sample-ttlh2">Teaser01:2列パターン</h2>
            <div class="aem-Grid center-Grid aem-Grid--12 aem-Grid--default--12">
              <div class="aem-GridColumn--default--none aem-GridColumn aem-GridColumn--offset--default--0 aem-GridColumn--default--6 aem-GridColumn--phone--12">
                <div class="component">
                  <div class="teaser cmpjt-teaser-01">
                    <div class="cmp-teaser">
                      <div class="cmp-teaser__image">
                        <div class="cmp-image">
                          <img src="/template/sample-img/img_teaser01-01.png" class="cmp-image__image" alt="">
                        </div>
                      </div>
                      <div class="cmp-teaser__content">
                        <h2 class="cmp-teaser__title">
                          <a class="cmp-image__link" href="#">
                            <span class="cmp-teaser__title-link" href="#">リンクティーザー</span>
                          </a>
                        </h2>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="aem-GridColumn--default--none aem-GridColumn aem-GridColumn--offset--default--0 aem-GridColumn--default--6 aem-GridColumn--phone--12">
                <div class="component">
                  <div class="teaser cmpjt-teaser-01">
                    <div class="cmp-teaser">
                      <div class="cmp-teaser__image">
                        <div class="cmp-image">
                          <img src="/template/sample-img/img_teaser01-02.png" class="cmp-image__image" alt="">
                        </div>
                      </div>
                      <div class="cmp-teaser__content">
                        <h2 class="cmp-teaser__title">
                          <a class="cmp-image__link" href="#">
                          <span class="cmp-teaser__title-link" href="#">リンクティーザー</span>
                        </a>
                        </h2>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="sample-code">
              <pre class="brush:html">
                &lt;div class="aem-Grid center-Grid aem-Grid--12 aem-Grid--default--12"&gt;
                  &lt;div class="aem-GridColumn--default--none aem-GridColumn aem-GridColumn--offset--default--0 aem-GridColumn--default--6 aem-GridColumn--phone--12"&gt;
                    &lt;div class="component"&gt;
                      &lt;div class="teaser cmpjt-teaser-01"&gt;
                        &lt;div class="cmp-teaser"&gt;
                          &lt;div class="cmp-teaser__image"&gt;
                            &lt;div class="cmp-image"&gt;
                              &lt;img src="/template/sample-img/img_teaser01-01.png" class="cmp-image__image" alt=""&gt;
                            &lt;/div&gt;
                          &lt;/div&gt;
                          &lt;div class="cmp-teaser__content"&gt;
                            &lt;h2 class="cmp-teaser__title"&gt;
                              &lt;a class="cmp-image__link" href="#"&gt;
                                &lt;span class="cmp-teaser__title-link" href="#"&gt;リンクティーザー&lt;/span&gt;
                              &lt;/a&gt;
                            &lt;/h2&gt;
                          &lt;/div&gt;
                        &lt;/div&gt;
                      &lt;/div&gt;
                    &lt;/div&gt;
                  &lt;/div&gt;
                  &lt;div class="aem-GridColumn--default--none aem-GridColumn aem-GridColumn--offset--default--0 aem-GridColumn--default--6 aem-GridColumn--phone--12"&gt;
                    &lt;div class="component"&gt;
                      &lt;div class="teaser cmpjt-teaser-01"&gt;
                        &lt;div class="cmp-teaser"&gt;
                          &lt;div class="cmp-teaser__image"&gt;
                            &lt;div class="cmp-image"&gt;
                              &lt;img src="/template/sample-img/img_teaser01-02.png" class="cmp-image__image" alt=""&gt;
                            &lt;/div&gt;
                          &lt;/div&gt;
                          &lt;div class="cmp-teaser__content"&gt;
                            &lt;h2 class="cmp-teaser__title"&gt;
                              &lt;a class="cmp-image__link" href="#"&gt;
                              &lt;span class="cmp-teaser__title-link" href="#"&gt;リンクティーザー&lt;/span&gt;
                            &lt;/a&gt;
                            &lt;/h2&gt;
                          &lt;/div&gt;
                        &lt;/div&gt;
                      &lt;/div&gt;
                    &lt;/div&gt;
                  &lt;/div&gt;
                &lt;/div&gt;
              </pre>
            </div>
          </div>
        </div>
      </div>
    </main>

    <footer id="footer-area">
      <!-- フッターコンテンツ -->
      <div id="footer-content" class="footer-content">
        <div class="footer-inner">
          <ul class="page-path">
            <li>Ploom Brand Site<span class="arrow"><object type="image/svg+xml" data="/common-assets/img/ico-arrow_01.svg"></object ></span></li>
            <li><a href="#">Ploom サポート</a></li>
          </ul>

          <!--#include virtual="/include/footer.html" -->

</body>
</html>
  