<!DOCTYPE html>
<html lang="[]" class="[]">

<head>
<meta charset="UTF-8">

<title>[]</title>
<meta name="description" content="[]">
<meta name="keywords" content="[]">
<link rel="canonical" href="[]">

<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no">
<link rel="apple-touch-icon" sizes="152x152" href="/apple-touch-icon.png">

<meta property="og:title" content="[]" />
<meta property="og:type" content="[]" />
<meta property="og:description" content="[]" />
<meta property="og:url" content="[]" />
<meta property="og:site_name" content="Ploom（プルーム）ブランドサイト" />
<meta property="og:image" content="[]" />

  
    <!--#include virtual="/include/header-type01.html" -->
    <!--#include virtual="/template/sample-include/sample-header.html" -->

    <main id="main-area">
      <!-- メインコンテンツ -->
      <div class="wrapper">
        <div class="wrapper-Inner">
          <!-- 任意のコンテンツ内容 -->

          <h1>テンプレート</h1>
          
          <div class="container">
            <div class="aem-Grid aem-Grid--12 aem-Grid--default--12 aem-Grid--phone--12">
              <div class="aem-GridColumn--default--none aem-GridColumn aem-GridColumn--offset--default--0 aem-GridColumn--default--12">
                <h2 class="sample-ttlh2">Breadcrumb</h2>

                <div class="component">
                  <div class="breadcrumb breadcrumb-01">
                    <nav class="cmp-breadcrumb">
                      <ol class="cmp-breadcrumb__list">
                        <li class="cmp-breadcrumb__item">
                          <a href="#" class="cmp-breadcrumb__item-link">
                            <span>Component Library</span>
                          </a>
                        </li>
                        <li class="cmp-breadcrumb__item">
                          <a href="#" class="cmp-breadcrumb__item-link">
                            <span>Templating</span>
                          </a>
                        </li>
                        <li class="cmp-breadcrumb__item">
                          <a href="#" class="cmp-breadcrumb__item-link">
                            <span>Breadcrumb</span>
                          </a>
                        </li>
                        <li class="cmp-breadcrumb__item">
                          <a href="#" class="cmp-breadcrumb__item-link">
                            <span>Level 1</span>
                          </a>
                        </li>
                        <li class="cmp-breadcrumb__item">
                          <a href="#" class="cmp-breadcrumb__item-link">
                            <span>Level 2</span>
                          </a>
                        </li>
                        <li class="cmp-breadcrumb__item cmp-breadcrumb__item--active">
                          <span>Breadcrumb</span>
                        </li>
                      </ol>
                    </nav>
                  </div>
                </div>
                
                <pre class="mb-50 brush:html">
                  &lt;div class="breadcrumb breadcrumb-01"&gt;
                    &lt;nav class="cmp-breadcrumb"&gt;
                      &lt;ol class="cmp-breadcrumb__list"&gt;
                        &lt;li class="cmp-breadcrumb__item"&gt;
                          &lt;a href="#" class="cmp-breadcrumb__item-link"&gt;
                            &lt;span&gt;Component Library&lt;/span&gt;
                          &lt;/a&gt;
                        &lt;/li&gt;
                        &lt;li class="cmp-breadcrumb__item"&gt;
                          &lt;a href="#" class="cmp-breadcrumb__item-link"&gt;
                            &lt;span&gt;Templating&lt;/span&gt;
                          &lt;/a&gt;
                        &lt;/li&gt;
                        &lt;li class="cmp-breadcrumb__item"&gt;
                          &lt;a href="#" class="cmp-breadcrumb__item-link"&gt;
                            &lt;span&gt;Breadcrumb&lt;/span&gt;
                          &lt;/a&gt;
                        &lt;/li&gt;
                        &lt;li class="cmp-breadcrumb__item"&gt;
                          &lt;a href="#" class="cmp-breadcrumb__item-link"&gt;
                            &lt;span&gt;Level 1&lt;/span&gt;
                          &lt;/a&gt;
                        &lt;/li&gt;
                        &lt;li class="cmp-breadcrumb__item"&gt;
                          &lt;a href="#" class="cmp-breadcrumb__item-link"&gt;
                            &lt;span&gt;Level 2&lt;/span&gt;
                          &lt;/a&gt;
                        &lt;/li&gt;
                        &lt;li class="cmp-breadcrumb__item cmp-breadcrumb__item--active"&gt;
                          &lt;span&gt;Breadcrumb&lt;/span&gt;
                        &lt;/li&gt;
                      &lt;/ol&gt;
                    &lt;/nav&gt;
                  &lt;/div&gt;
                </pre>
                
              </div>
            </div>

          </div>
        </div>
      </div>
    </main>

    <footer id="footer-area">
      <!-- フッターコンテンツ -->
      <div id="footer-content" class="footer-content">
        <div class="footer-inner">
          <ul class="page-path">
            <li>Ploom Brand Site<span class="arrow"><object type="image/svg+xml" data="/common-assets/img/ico-arrow_01.svg"></object ></span></li>
            <li><a href="#">Ploom サポート</a></li>
          </ul>

          <!--#include virtual="/include/footer.html" -->

</body>
</html>
  