<!DOCTYPE html>
<html lang="[]" class="[]">

<head>
<meta charset="UTF-8">

<title>[]</title>
<meta name="description" content="[]">
<meta name="keywords" content="[]">
<link rel="canonical" href="[]">

<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no">
<link rel="apple-touch-icon" sizes="152x152" href="/apple-touch-icon.png">

<meta property="og:title" content="[]" />
<meta property="og:type" content="[]" />
<meta property="og:description" content="[]" />
<meta property="og:url" content="[]" />
<meta property="og:site_name" content="Ploom（プルーム）ブランドサイト" />
<meta property="og:image" content="[]" />

  
    <!--#include virtual="/include/header-type01.html" -->
    <!--#include virtual="/template/sample-include/sample-header.html" -->
    
    <main id="main-area">
      <!-- メインコンテンツ -->
      <div class="wrapper">
        <div class="wrapper-Inner">
          <!-- 任意のコンテンツ内容 -->

          <h1>015-Carousel</h1>
          
          <div class="container">
            <h2 class="sample-ttlh2">Carousel</h2>
            <div class="aem-Grid center-Grid aem-Grid--12 aem-Grid--default--12">
              <div class="aem-GridColumn--default--none aem-GridColumn aem-GridColumn--offset--default--0 aem-GridColumn--default--12">
                <div class="component">
                  <div class="cmpjt-carousel-03">
                    <div class="aem-Grid center-Grid aem-Grid--12 aem-Grid--default--12">
                      <div class="aem-GridColumn--default--none aem-GridColumn aem-GridColumn--offset--default--0 aem-GridColumn--default--4 aem-GridColumn--phone--6">
                        <div class="cmpjt-list-01" role="tablist">
                          <div class="cmp-carousel__item cmp-carousel__item--active" role="tab">
                            <div class="image cmpjt-image-01">
                              <div class="cmp-image">
                                <img src="/template/sample-img/img_carousel05.png" class="cmp-image__image" alt="">
                              </div>
                            </div>
                          </div>
                          <div class="cmp-carousel__item" role="tab">
                            <div class="image cmpjt-image-01">
                              <div class="cmp-image">
                                <img src="/template/sample-img/img_carousel05.png" class="cmp-image__image" alt="">
                              </div>
                            </div>
                          </div>
                          <div class="cmp-carousel__item" role="tab">
                            <div class="image cmpjt-image-01">
                              <div class="cmp-image">
                                <img src="/template/sample-img/img_carousel05.png" class="cmp-image__image" alt="">
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="cmp-carousel__pager">
                      <ul role="tablist">
                        <li class="item-color-01" role="tab" aria-label="Slide 1" tabindex="0" aria-selected="true"><div><span>カラー名が入ります</span></div></li>
                        <li class="item-color-02" role="tab" aria-label="Slide 2" tabindex="-1" aria-selected="false"><div><span>カラー名が入ります</span></div></li>
                        <li class="item-color-03" role="tab" aria-label="Slide 3" tabindex="-1" aria-selected="false"><div><span>カラー名が入ります</span></div></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="sample-code">
              <pre class="brush:html">
                &lt;div class="aem-Grid center-Grid aem-Grid--12 aem-Grid--default--12"&gt;
                  &lt;div class="aem-GridColumn--default--none aem-GridColumn aem-GridColumn--offset--default--0 aem-GridColumn--default--12"&gt;
                    &lt;div class="component"&gt;
                      &lt;div class="cmpjt-carousel-03"&gt;
                        &lt;div class="aem-Grid center-Grid aem-Grid--12 aem-Grid--default--12"&gt;
                          &lt;div class="aem-GridColumn--default--none aem-GridColumn aem-GridColumn--offset--default--0 aem-GridColumn--default--4 aem-GridColumn--phone--6"&gt;
                            &lt;div class="cmpjt-list-01" role="tablist"&gt;
                              &lt;div class="cmp-carousel__item cmp-carousel__item--active" role="tab"&gt;
                                &lt;div class="image cmpjt-image-01"&gt;
                                  &lt;div class="cmp-image"&gt;
                                    &lt;img src="/template/sample-img/img_carousel05.png" class="cmp-image__image" alt=""&gt;
                                  &lt;/div&gt;
                                &lt;/div&gt;
                              &lt;/div&gt;
                              &lt;div class="cmp-carousel__item" role="tab"&gt;
                                &lt;div class="image cmpjt-image-01"&gt;
                                  &lt;div class="cmp-image"&gt;
                                    &lt;img src="/template/sample-img/img_carousel05.png" class="cmp-image__image" alt=""&gt;
                                  &lt;/div&gt;
                                &lt;/div&gt;
                              &lt;/div&gt;
                              &lt;div class="cmp-carousel__item" role="tab"&gt;
                                &lt;div class="image cmpjt-image-01"&gt;
                                  &lt;div class="cmp-image"&gt;
                                    &lt;img src="/template/sample-img/img_carousel05.png" class="cmp-image__image" alt=""&gt;
                                  &lt;/div&gt;
                                &lt;/div&gt;
                              &lt;/div&gt;
                            &lt;/div&gt;
                          &lt;/div&gt;
                        &lt;/div&gt;
                        &lt;div class="cmp-carousel__pager"&gt;
                          &lt;ul role="tablist"&gt;
                            &lt;li class="item-color-01" role="tab" aria-label="Slide 1" tabindex="0" aria-selected="true"&gt;&lt;div&gt;&lt;span&gt;カラー名が入ります&lt;/span&gt;&lt;/div&gt;&lt;/li&gt;
                            &lt;li class="item-color-02" role="tab" aria-label="Slide 2" tabindex="-1" aria-selected="false"&gt;&lt;div&gt;&lt;span&gt;カラー名が入ります&lt;/span&gt;&lt;/div&gt;&lt;/li&gt;
                            &lt;li class="item-color-03" role="tab" aria-label="Slide 3" tabindex="-1" aria-selected="false"&gt;&lt;div&gt;&lt;span&gt;カラー名が入ります&lt;/span&gt;&lt;/div&gt;&lt;/li&gt;
                          &lt;/ul&gt;
                        &lt;/div&gt;
                      &lt;/div&gt;
                    &lt;/div&gt;
                  &lt;/div&gt;
                &lt;/div&gt;
              </pre>
            </div>

          </div>
        </div>
      </div>
    </main>

    <footer id="footer-area">
      <!-- フッターコンテンツ -->
      <div id="footer-content" class="footer-content">
        <div class="footer-inner">
          <ul class="page-path">
            <li>Ploom Brand Site<span class="arrow"><object type="image/svg+xml" data="/common-assets/img/ico-arrow_01.svg"></object ></span></li>
            <li><a href="#">Ploom サポート</a></li>
          </ul>

          <!--#include virtual="/include/footer.html" -->

</body>
</html>
  