<!DOCTYPE html>
<html lang="[]" class="[]">

<head>
<meta charset="UTF-8">

<title>[]</title>
<meta name="description" content="[]">
<meta name="keywords" content="[]">
<link rel="canonical" href="[]">

<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no">
<link rel="apple-touch-icon" sizes="152x152" href="/apple-touch-icon.png">

<meta property="og:title" content="[]" />
<meta property="og:type" content="[]" />
<meta property="og:description" content="[]" />
<meta property="og:url" content="[]" />
<meta property="og:site_name" content="Ploom（プルーム）ブランドサイト" />
<meta property="og:image" content="[]" />

  
    <!--#include virtual="/include/header-type01.html" -->
    <!--#include virtual="/template/sample-include/sample-header.html" -->
    
    <main id="main-area">
      <!-- メインコンテンツ -->
      <div class="wrapper">
        <div class="wrapper-Inner">
          <!-- 任意のコンテンツ内容 -->

          <h1>18-スライドナビ</h1>
          
          <div class="container">
            <h2 class="sample-ttlh2">スライドナビ 画像リンク</h2>
            <div class="aem-Grid aem-Grid--12 aem-Grid--default--12">
              <div class="aem-GridColumn--default--none aem-GridColumn aem-GridColumn--offset--default--0 aem-GridColumn--default--12">
                <div class="component">
                  <div class="cmpjt-slidenav-01">
                    <div class="cmp-list">
                      <ul>
                        <li>
                          <div class="image cmpjt-image-01">
                            <div class="cmp-image">
                              <a href="#"><img src="/common-assets/img/ico-mevius.svg" class="cmp-image__image" alt="mevius"></a>
                            </div>
                          </div>
                        </li>
                        <li>
                          <div class="image cmpjt-image-01">
                            <div class="cmp-image">
                              <a href="#"><img src="/common-assets/img/ico-camel.svg" class="cmp-image__image" alt="camel"></a>
                            </div>
                          </div>
                        </li>
                        <li>
                          <div class="image cmpjt-image-01">
                            <div class="cmp-image">
                              <a href="#"><img src="/common-assets/img/ico-mevius.svg" class="cmp-image__image" alt="mevius"></a>
                            </div>
                          </div>
                        </li>
                        <li>
                          <div class="image cmpjt-image-01">
                            <div class="cmp-image">
                              <a href="#"><img src="/common-assets/img/ico-camel.svg" class="cmp-image__image" alt="camel"></a>
                            </div>
                          </div>
                        </li>
                        <li>
                          <div class="image cmpjt-image-01">
                            <div class="cmp-image">
                              <a href="#"><img src="/common-assets/img/ico-mevius.svg" class="cmp-image__image" alt="mevius"></a>
                            </div>
                          </div>
                        </li>
                        <li>
                          <div class="image cmpjt-image-01">
                            <div class="cmp-image">
                              <a href="#"><img src="/common-assets/img/ico-camel.svg" class="cmp-image__image" alt="camel"></a>
                            </div>
                          </div>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="sample-code">
              <pre class="brush:html">
                &lt;div class="aem-Grid aem-Grid--12 aem-Grid--default--12"&gt;
                  &lt;div class="aem-GridColumn--default--none aem-GridColumn aem-GridColumn--offset--default--0 aem-GridColumn--default--12"&gt;
                    &lt;div class="component"&gt;
                      &lt;div class="cmpjt-slidenav-01"&gt;
                        &lt;div class="cmp-list"&gt;
                          &lt;ul&gt;
                            &lt;li&gt;
                              &lt;div class="image cmpjt-image-01"&gt;
                                &lt;div class="cmp-image"&gt;
                                  &lt;a href="#"&gt;&lt;img src="/common-assets/img/ico-mevius.svg" class="cmp-image__image" alt="mevius"&gt;&lt;/a&gt;
                                &lt;/div&gt;
                              &lt;/div&gt;
                            &lt;/li&gt;
                            &lt;li&gt;
                              &lt;div class="image cmpjt-image-01"&gt;
                                &lt;div class="cmp-image"&gt;
                                  &lt;a href="#"&gt;&lt;img src="/common-assets/img/ico-camel.svg" class="cmp-image__image" alt="camel"&gt;&lt;/a&gt;
                                &lt;/div&gt;
                              &lt;/div&gt;
                            &lt;/li&gt;
                            &lt;li&gt;
                              &lt;div class="image cmpjt-image-01"&gt;
                                &lt;div class="cmp-image"&gt;
                                  &lt;a href="#"&gt;&lt;img src="/common-assets/img/ico-mevius.svg" class="cmp-image__image" alt="mevius"&gt;&lt;/a&gt;
                                &lt;/div&gt;
                              &lt;/div&gt;
                            &lt;/li&gt;
                            &lt;li&gt;
                              &lt;div class="image cmpjt-image-01"&gt;
                                &lt;div class="cmp-image"&gt;
                                  &lt;a href="#"&gt;&lt;img src="/common-assets/img/ico-camel.svg" class="cmp-image__image" alt="camel"&gt;&lt;/a&gt;
                                &lt;/div&gt;
                              &lt;/div&gt;
                            &lt;/li&gt;
                            &lt;li&gt;
                              &lt;div class="image cmpjt-image-01"&gt;
                                &lt;div class="cmp-image"&gt;
                                  &lt;a href="#"&gt;&lt;img src="/common-assets/img/ico-mevius.svg" class="cmp-image__image" alt="mevius"&gt;&lt;/a&gt;
                                &lt;/div&gt;
                              &lt;/div&gt;
                            &lt;/li&gt;
                            &lt;li&gt;
                              &lt;div class="image cmpjt-image-01"&gt;
                                &lt;div class="cmp-image"&gt;
                                  &lt;a href="#"&gt;&lt;img src="/common-assets/img/ico-camel.svg" class="cmp-image__image" alt="camel"&gt;&lt;/a&gt;
                                &lt;/div&gt;
                              &lt;/div&gt;
                            &lt;/li&gt;
                          &lt;/ul&gt;
                        &lt;/div&gt;
                      &lt;/div&gt;
                    &lt;/div&gt;
                  &lt;/div&gt;
                &lt;/div&gt;
              </pre>
            </div>

            <h2 class="sample-ttlh2">スライドナビ テキストリンク</h2>
            <div class="aem-Grid aem-Grid--12 aem-Grid--default--12">
              <div class="aem-GridColumn--default--none aem-GridColumn aem-GridColumn--offset--default--0 aem-GridColumn--default--12">
                <div class="component">
                  <div class="cmpjt-slidenav-01">
                    <div class="cmp-list">
                      <ul>
                        <li>
                          <div class="text cmpjt-text-01">
                            <div class="cmp-text">
                              <p><a href="#">リムーバルフロントカバー</a></p>
                            </div>
                          </div>
                        </li>
                        <li>
                          <div class="text cmpjt-text-01">
                            <div class="cmp-text">
                              <p><a href="#">充電ドック</a></p>
                            </div>
                          </div>
                        </li>
                        <li>
                          <div class="text cmpjt-text-01">
                            <div class="cmp-text">
                              <p><a href="#">ポータブルスティックケース</a></p>
                            </div>
                          </div>
                        </li>
                        <li>
                          <div class="text cmpjt-text-01">
                            <div class="cmp-text">
                              <p><a href="#">キャリーケース</a></p>
                            </div>
                          </div>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="sample-code">
              <pre class="brush:html">
                &lt;div class="aem-Grid aem-Grid--12 aem-Grid--default--12"&gt;
                  &lt;div class="aem-GridColumn--default--none aem-GridColumn aem-GridColumn--offset--default--0 aem-GridColumn--default--12"&gt;
                    &lt;div class="component"&gt;
                      &lt;div class="cmpjt-slidenav-01"&gt;
                        &lt;div class="cmp-list"&gt;
                          &lt;ul&gt;
                            &lt;li&gt;
                              &lt;div class="text cmpjt-text-01"&gt;
                                &lt;div class="cmp-text"&gt;
                                  &lt;p&gt;&lt;a href="#"&gt;リムーバルフロントカバー&lt;/a&gt;&lt;/p&gt;
                                &lt;/div&gt;
                              &lt;/div&gt;
                            &lt;/li&gt;
                            &lt;li&gt;
                              &lt;div class="text cmpjt-text-01"&gt;
                                &lt;div class="cmp-text"&gt;
                                  &lt;p&gt;&lt;a href="#"&gt;充電ドック&lt;/a&gt;&lt;/p&gt;
                                &lt;/div&gt;
                              &lt;/div&gt;
                            &lt;/li&gt;
                            &lt;li&gt;
                              &lt;div class="text cmpjt-text-01"&gt;
                                &lt;div class="cmp-text"&gt;
                                  &lt;p&gt;&lt;a href="#"&gt;ポータブルスティックケース&lt;/a&gt;&lt;/p&gt;
                                &lt;/div&gt;
                              &lt;/div&gt;
                            &lt;/li&gt;
                            &lt;li&gt;
                              &lt;div class="text cmpjt-text-01"&gt;
                                &lt;div class="cmp-text"&gt;
                                  &lt;p&gt;&lt;a href="#"&gt;キャリーケース&lt;/a&gt;&lt;/p&gt;
                                &lt;/div&gt;
                              &lt;/div&gt;
                            &lt;/li&gt;
                          &lt;/ul&gt;
                        &lt;/div&gt;
                      &lt;/div&gt;
                    &lt;/div&gt;
                  &lt;/div&gt;
                &lt;/div&gt;
              </pre>
            </div>

          </div>
        </div>
      </div>
    </main>

    <footer id="footer-area">
      <!-- フッターコンテンツ -->
      <div id="footer-content" class="footer-content">
        <div class="footer-inner">
          <ul class="page-path">
            <li>Ploom Brand Site<span class="arrow"><object type="image/svg+xml" data="/common-assets/img/ico-arrow_01.svg"></object ></span></li>
            <li><a href="#">Ploom サポート</a></li>
          </ul>

          <!--#include virtual="/include/footer.html" -->

</body>
</html>