<!DOCTYPE html>
<html lang="[]" class="[]">

<head>
<meta charset="UTF-8">

<title>[]</title>
<meta name="description" content="[]">
<meta name="keywords" content="[]">
<link rel="canonical" href="[]">

<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no">
<link rel="apple-touch-icon" sizes="152x152" href="/apple-touch-icon.png">

<meta property="og:title" content="[]" />
<meta property="og:type" content="[]" />
<meta property="og:description" content="[]" />
<meta property="og:url" content="[]" />
<meta property="og:site_name" content="Ploom（プルーム）ブランドサイト" />
<meta property="og:image" content="[]" />

  
    <!--#include virtual="/include/header-type01.html" -->
    <!--#include virtual="/template/sample-include/sample-header.html" -->
    
    <main id="main-area">
      <!-- メインコンテンツ -->
      <div class="wrapper">
        <div class="wrapper-Inner">
          <!-- 任意のコンテンツ内容 -->

          <h1>23-NEWS記事ページング</h1>
          
          <div class="container">
            <h2 class="sample-ttlh2">NEWS記事ページング</h2>
            <div class="aem-Grid center-Grid aem-Grid--12 aem-Grid--default--12">
              <div class="aem-GridColumn--default--none aem-GridColumn aem-GridColumn--offset--default--0 aem-GridColumn--default--12">
                <div class="component">
                  <div class="cmpjt-paging-02">
                    <div class="cmp-paging">
                      <div class="previous">
                        <a href="#">
                          <span class="arrow">
                            <img src="/common-assets/img/ico-arrow_04.svg" class="pc-show" alt="">
                            <img src="/common-assets/img/ico-arrow_03.svg" class="sp-show" alt="">
                          </span>
                          前のNEWS
                        </a>
                      </div>
                      <div class="pagelist">
                        <a href="#">
                          <span class="list">
                            <img src="/common-assets/img/ico-list_01.svg" alt="">
                          </span>
                          一覧へ
                        </a>
                      </div>
                      <div class="next">
                        <a href="">
                          <span class="arrow">
                            <img src="/common-assets/img/ico-arrow_04.svg" class="pc-show" alt="">
                            <img src="/common-assets/img/ico-arrow_03.svg" class="sp-show" alt="">
                          </span>
                          次のNEWS
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="sample-code">
              <pre class="brush:html">
                &lt;div class="aem-Grid center-Grid aem-Grid--12 aem-Grid--default--12"&gt;
                  &lt;div class="aem-GridColumn--default--none aem-GridColumn aem-GridColumn--offset--default--0 aem-GridColumn--default--12"&gt;
                    &lt;div class="component"&gt;
                      &lt;div class="cmpjt-paging-02"&gt;
                        &lt;div class="cmp-paging"&gt;
                          &lt;div class="previous"&gt;
                            &lt;a href="#"&gt;
                              &lt;span class="arrow"&gt;
                                &lt;img src="/common-assets/img/ico-arrow_04.svg" class="pc-show" alt=""&gt;
                                &lt;img src="/common-assets/img/ico-arrow_03.svg" class="sp-show" alt=""&gt;
                              &lt;/span&gt;
                              前のNEWS
                            &lt;/a&gt;
                          &lt;/div&gt;
                          &lt;div class="pagelist"&gt;
                            &lt;a href="#"&gt;
                              &lt;span class="list"&gt;
                                &lt;img src="/common-assets/img/ico-list_01.svg" alt=""&gt;
                              &lt;/span&gt;
                              一覧へ
                            &lt;/a&gt;
                          &lt;/div&gt;
                          &lt;div class="next"&gt;
                            &lt;a href=""&gt;
                              &lt;span class="arrow"&gt;
                                &lt;img src="/common-assets/img/ico-arrow_04.svg" class="pc-show" alt=""&gt;
                                &lt;img src="/common-assets/img/ico-arrow_03.svg" class="sp-show" alt=""&gt;
                              &lt;/span&gt;
                              次のNEWS
                            &lt;/a&gt;
                          &lt;/div&gt;
                        &lt;/div&gt;
                      &lt;/div&gt;
                    &lt;/div&gt;
                  &lt;/div&gt;
                &lt;/div&gt;
              </pre>
            </div>

          </div>
        </div>
      </div>
    </main>

    <footer id="footer-area">
      <!-- フッターコンテンツ -->
      <div id="footer-content" class="footer-content">
        <div class="footer-inner">
          <ul class="page-path">
            <li>Ploom Brand Site<span class="arrow"><object type="image/svg+xml" data="/common-assets/img/ico-arrow_01.svg"></object ></span></li>
            <li><a href="#">Ploom サポート</a></li>
          </ul>

          <!--#include virtual="/include/footer.html" -->

</body>
</html>
  