<!-- このページのみに使用しており後ほど消すcss -->
<link rel="stylesheet" href="/template/sample-css/sample-style.css">

<!-- このページのみに使用しており後ほど消すcss/js -->
<!-- [ Unique StyleSheet / JavaScript ] -->
<!-- *</head>直前プロパティエリア /// -->
<link href="/template/sample-css/syntaxhighlighter/syntaxhighlighter.css" rel="stylesheet" type="text/css" media="all">
<link type="text/css" rel="stylesheet" href="/template/sample-js/syntaxhighlighter/shCore.css" />
<link type="text/css" rel="stylesheet" href="/template/sample-js/syntaxhighlighter/shThemeDefault.css" />
<script type="text/javascript" src="/template/sample-js/syntaxhighlighter/shCore.js"></script>
<script type="text/javascript" src="/template/sample-js/syntaxhighlighter/shBrushXml.js"></script>
<script type="text/javascript">
  SyntaxHighlighter.config.clipboardSwf = 'scripts/clipboard.swf';
  SyntaxHighlighter.all();
</script>
<!-- /// *</head>直前プロパティエリア -->