<!DOCTYPE html>
<html lang="[]" class="[]">

<head>
<meta charset="UTF-8">

<title>[]</title>
<meta name="description" content="[]">
<meta name="keywords" content="[]">
<link rel="canonical" href="[]">

<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no">
<link rel="apple-touch-icon" sizes="152x152" href="/apple-touch-icon.png">

<meta property="og:title" content="[]" />
<meta property="og:type" content="[]" />
<meta property="og:description" content="[]" />
<meta property="og:url" content="[]" />
<meta property="og:site_name" content="Ploom（プルーム）ブランドサイト" />
<meta property="og:image" content="[]" />

    <!--#include virtual="/include/header-type01.html" -->
    <!--#include virtual="/template/sample-include/sample-header.html" -->



    <main id="main-area">
      <!-- メインコンテンツ -->
      <div class="wrapper">
        <div class="wrapper-Inner">
          <!-- 任意のコンテンツ内容 -->

          <h1>ヘッダー01</h1>
          
          <div class="sample-code">
            <pre class="brush:html">              
              &lt;header id="header-area"&gt;
                &lt;!-- ヘッダーコンテンツ --&gt;
                &lt;div id="header-content" class="header-content"&gt;
                  &lt;div class="header-inner"&gt;
                    
                    &lt;div class="header-sp"&gt;
                      &lt;div class="header-top"&gt;
                        &lt;div class="header-logo"&gt;
                          &lt;a href="#"&gt;&lt;object type="image/svg+xml" data="/common-assets/img/logo.svg"&gt;&lt;/object&gt;&lt;/a&gt;
                        &lt;/div&gt;
                      &lt;/div&gt;
                      &lt;ul class="header-panel sp-content"&gt;
                        &lt;li class="news"&gt;&lt;a href="#"&gt;&lt;span class="ico"&gt;&lt;object type="image/svg+xml" data="/common-assets/img/ico-bell_01.svg"&gt;&lt;/object&gt;&lt;/span&gt;&lt;/a&gt;&lt;/li&gt;
                        &lt;li class="cart"&gt;&lt;a href="#"&gt;&lt;span class="ico"&gt;&lt;object type="image/svg+xml" data="/common-assets/img/ico-cart_01.svg"&gt;&lt;/object&gt;&lt;/span&gt;&lt;/a&gt;&lt;/li&gt;
                        &lt;li class="sp-menu"&gt;&lt;i&gt;&lt;/i&gt;&lt;/li&gt;
                      &lt;/ul&gt;
                    &lt;/div&gt;
              
                    &lt;div class="header-inner-link header-menu"&gt;
              
                      &lt;div class="header-loginbtn"&gt;
                        &lt;ul class="header-link"&gt;
                          &lt;li class="login"&gt;&lt;a href="#"&gt;&lt;span class="ico"&gt;&lt;object type="image/svg+xml" data="/common-assets/img/ico-login_01.svg"&gt;&lt;/object&gt;&lt;/span&gt;&lt;span&gt;ログイン&lt;/span&gt;&lt;/a&gt;&lt;/li&gt;
                          &lt;li class="register"&gt;&lt;a href="#"&gt;&lt;span class="ico"&gt;&lt;object type="image/svg+xml" data="/common-assets/img/ico-profile_01.svg"&gt;&lt;/object&gt;&lt;/span&gt;&lt;span&gt;会員登録&lt;/span&gt;&lt;/a&gt;&lt;/li&gt;
                        &lt;/ul&gt;
                      &lt;/div&gt;
              
                      &lt;ul class="link sp-menu"&gt;
                        &lt;li&gt;&lt;a href="#"&gt;&lt;span&gt;Ploom X&lt;/span&gt;&lt;/a&gt;&lt;/li&gt;
                        &lt;li&gt;&lt;a href="#"&gt;&lt;span&gt;Ploom X CLUB&lt;/span&gt;&lt;/a&gt;&lt;/li&gt;
                        &lt;li&gt;&lt;a href="#"&gt;&lt;span&gt;Ploom TECH +&lt;/span&gt;&lt;/a&gt;&lt;/li&gt;
                        &lt;li&gt;&lt;a href="#"&gt;&lt;span&gt;Ploom Shop&lt;/span&gt;&lt;/a&gt;&lt;/li&gt;
                        &lt;li&gt;&lt;a href="#"&gt;&lt;span&gt;オンラインショップ&lt;/span&gt;&lt;/a&gt;&lt;/li&gt;
                        &lt;li class="sub-nav"&gt;
                          &lt;a href="javascript:void(0);"&gt;&lt;span&gt;サポート&lt;/span&gt;&lt;span class="arrow"&gt;&lt;object type="image/svg+xml" data="/common-assets/img/ico-arrow_01.svg" &gt;&lt;/object&gt;&lt;/span&gt;&lt;/a&gt;
                          &lt;div class="sub-nav-list"&gt;
                            &lt;ul&gt;
                              &lt;li&gt;&lt;a href=""&gt;Ploom サポート&lt;/a&gt;&lt;/li&gt;
                              &lt;li&gt;&lt;a href=""&gt;Ploom X サポート&lt;/a&gt;&lt;/li&gt;
                              &lt;li&gt;&lt;a href=""&gt;Ploom X CLUB サポート&lt;/a&gt;&lt;/li&gt;
                              &lt;li&gt;&lt;a href=""&gt;Ploom TECH + with サポート&lt;/a&gt;&lt;/li&gt;
                              &lt;li&gt;&lt;a href=""&gt;Ploom TECH + サポート&lt;/a&gt;&lt;/li&gt;
                              &lt;li&gt;&lt;a href=""&gt;Ploom TECH サポート&lt;/a&gt;&lt;/li&gt;
                              &lt;li&gt;&lt;a href=""&gt;Ploom S サポート&lt;/a&gt;&lt;/li&gt;
                            &lt;/ul&gt;
                          &lt;/div&gt;
                        &lt;/li&gt;
                      &lt;/ul&gt;
                      
                      &lt;div class="header-chat sp-content"&gt;
                        &lt;a href="#"&gt;
                          &lt;span class="ico"&gt;&lt;object type="image/svg+xml" data="/common-assets/img/ico-concierge_01.svg"&gt;&lt;/object&gt;&lt;/span&gt;
                          &lt;span class="txt"&gt;チャットで相談&lt;/span&gt;
                        &lt;/a&gt;
                      &lt;/div&gt;
              
                    &lt;/div&gt;
                  &lt;/div&gt;
                &lt;/div&gt;
              &lt;/header&gt;
            </pre>
          </div>
          
        </div>
      </div>
    </main>

    <footer id="footer-area">
      <!-- フッターコンテンツ -->
      <div id="footer-content" class="footer-content">
        <div class="footer-inner">
          <ul class="page-path">
            <li>Ploom Brand Site<span class="arrow"><object type="image/svg+xml" data="/common-assets/img/ico-arrow_01.svg"></object ></span></li>
            <li><a href="#">Ploom サポート</a></li>
          </ul>

          <!--#include virtual="/include/footer.html" -->

</body>
</html>
  