@use "libs/asset";
// プライマリーカラー
$eburnean: #f6f4ea;
$vivid: #ffb990;
$goldenrod: #ceb888;
$sandgrey: #c8b7ad;
$coalblack: #373a36;

// セカンダリーカラー
$tan: #b99683;
$sienna: #af7269;
$coral: #ed6d6d;
$paleturquoise: #b2dbd4;
$lightblue: #93becc;
$comet: #6c708e;

$content-width_sp: 767; // SP
$content-width_bp: 1230; // ブレイクポイント1230px

@mixin sp {
  @media (max-width: $content-width_sp + px) {
    @content;
  }
}
@mixin bp {
  @media (max-width: $content-width_bp + px) {
    @content;
  }
}

.component {
  height: 100%;
  a {
    text-decoration: underline;
  }
}

.width-release {
  margin: 0 calc(50% - 50vw);
}

div[class*="cmpjt-heading-"] {
  text-align: center;
  .cmp-title__text {
    color: #ffffff;
    font-weight: 200;
  }
  // テキスト 中央寄せ
  &.center {
    text-align: center;
  }
  // テキスト 左寄せ
  &.left {
    text-align: left;
  }
  // テキスト 右寄せ
  &.right {
    text-align: right;
  }
  @include sp {
    // テキスト 中央寄せ
    &.sp-center {
      text-align: center;
    }
    // テキスト 左寄せ
    &.sp-left {
      text-align: left;
    }
    // テキスト 右寄せ
    &.sp-right {
      text-align: right;
    }
  }
  // テキスト 文字色：黒
  .color-darkblackclear {
    color: #373a36;
  }
}

// 赤色（strongタグ）
.color-red {
  font-weight: 400;
  color: #ed6d6d;
}

// 画像初期値中央寄せ
.cmp-image {
  img {
    margin: 0 auto;
  }
}

// コンポーネントスタイル
.cmpjt- {
  // 01-Carousel
  &carousel-01 {
    .cmpjt-teaser-02 {
      .cmp-teaser {
        display: block;
        margin: 0 calc(50% - 50vw);
        .cmp-teaser__image {
          .cmp-image {
            img {
              @include sp {
                width: 100vh;
                height: 100vh;
              }
            }
          }
        }
        .cmp-teaser-textcbox {
          position: absolute;
          top: 50%;
          right: 0;
          bottom: 0;
          left: 50%;
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
          width: 100%;
          max-width: 1280px;
          max-height: 350px;
          margin: auto;
          transform: translateY(-50%) translateX(-50%);
          @include sp {
            top: 38%;
            height: 63%;
          }
          .cmpjt-image-logo {
            padding: 0 83px;
            margin-top: 20%;
            @include sp {
              padding: 0;
              margin-top: 5%;
            }
          }
          .cmp-image__link {
            width: 100%;
            max-width: 200px;
            padding: 12px 0;
            margin: 30px 0 0 0;
            text-decoration: none;
            border: 1px solid #ffffff;
            border-radius: 3px;
            @include sp {
              max-width: 144px;
            }
          }
          .cmp-teaser__content {
            margin-top: 22%;
            @include sp {
              padding: 0;
              margin-top: 2%;
            }
            .cmp-teaser__title {
              font-size: 4.2rem;
              @include bp {
                font-size: 2.8rem;
              }
              @include sp {
                font-size: 2.6rem;
              }
            }
            .cmp-teaser__txt {
              padding: 0;
              margin-top: 0;
              font-size: 1.2rem;
              text-align: center;
              background: none;
            }
            .cmpjt-text-01 {
              margin-top: 9%;
              .cmp-text {
                @include bp {
                  font-size: 1.4rem;
                }
              }
            }
          }
          @include sp {
            & > .aem-GridColumn:nth-child(1) {
              order: 3;
            }
            & > .aem-GridColumn:nth-child(2) {
              order: 1;
            }
            & > .aem-GridColumn:nth-child(3) {
              order: 2;
            }
          }
          .cmpjt-image-01 {
            @include sp {
              padding: 0 30%;
            }
            .cmp-image {
              @include sp {
                width: 100%;
                max-width: 128px;
                margin: 0 auto;
              }
            }
            &.cmpjt-image-logo {
              @include sp {
                padding: 0 20%;
              }
              .cmp-image {
                @include sp {
                  width: 100%;
                  max-width: 170px;
                  margin: 0 auto;
                }
              }
            }
          }
        }
        &:hover {
          opacity: initial;
        }
      }
      .cmp-image {
        img {
          width: 100%;
          margin: 0 auto;
        }
      }
    }
    .cmp-carousel__content {
      position: relative;
      .cmp-carousel__indicators {
        position: absolute;
        right: 0;
        bottom: 30px;
        left: 50%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
        margin: auto;
        transform: translateY(-50%) translateX(-50%);
        .cmp-carousel__indicator {
          width: 4.2%;
          height: 3px;
          margin: 0 7px;
          text-indent: -3000px;
          cursor: pointer;
          background: rgba(255, 255, 255, 0.1);
          border-radius: 10px;
          @include sp {
            width: 16%;
            margin: 0 5px;
          }
          &.cmp-carousel__indicator--active {
            background: rgba(255, 255, 255, 0.6);
          }
        }
        @include sp {
          bottom: 20px;
        }
      }
    }
    .cmp-carousel__item {
      display: none;
      &.cmp-carousel__item--active {
        display: block;
      }
    }
  }

  // 003-Button
  &button-01 {
    text-align: center;
    .cmp-button {
      display: block;
      padding: 10px 0;
      margin: 0 auto;
      font-size: 1.6rem;
      color: #ffffff;
      text-align: center;
      text-decoration: none;
      border: 1px solid #ffffff;
      border-radius: 3px;
    }
    &.bgcolor-white {
      .cmp-button {
        color: #373a36;
        background: #ffffff;
        border: 1px solid #707070;
      }
    }
    &.bgcolor-gray {
      .cmp-button {
        color: #ffb990;
        background: #373a36;
        border: 1px solid #ffb990;
      }
    }
    &.bgcolor-lightgray {
      .cmp-button {
        color: #373a36;
        pointer-events: none;
        background: #ffffff;
        border: none;
        opacity: 0.4;
      }
    }
    &.color-white {
      .cmp-button {
        color: #ffffff;
      }
    }
  }
  &button-02 {
    text-align: right;
    .cmp-button {
      font-size: 1.2rem;
      text-decoration: none;
      .icon-arrow {
        margin-left: 10px;
      }
    }
  }

  // 004-Teaser01
  &teaser-01 {
    text-align: center;
    .cmp-teaser {
      position: relative;
      overflow: hidden;
    }
    .cmp-teaser__image ~ .cmp-teaser__content {
      position: absolute;
      top: 50%;
      left: 50%;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      width: 100%;
      padding: 0 30px;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      .text-block01 {
        margin-bottom: 24px;
        &:last-child {
          margin-bottom: 0;
        }
      }
      .cmp-teaser__title-link {
        display: inline-block;
        padding: 5px 0 5px 50px;
        font-size: 1.8rem;
        //background: url(/common-assets/img/ico-arrow_04.svg) no-repeat left center;
        background: url(../img/ico-arrow_04.svg) no-repeat left center;
        background-size: 35px;
        @include sp {
          padding: 5px 0 5px 40px;
          font-size: 1.2rem;
          line-height: 1.67;
          //background: url(/common-assets/img/ico-arrow_04.svg) no-repeat left center;
          background: url(../img/ico-arrow_04.svg) no-repeat left center;
          background-size: 25px;
        }
      }
      .cmpjt-text-01 {
        .cmp-text {
          margin: 0 0 20px;
          font-size: 1.8rem;
          @include sp {
            font-size: 1.4rem;
          }
        }
      }
      .cmp-teaser__title {
        & + .cmpjt-text-01 {
          .cmp-text {
            margin: 20px 0 0;
          }
        }
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
    .cmp-image__link {
      display: inline-block;
      text-decoration: none;
    }
  }

  // 005-Teaser02
  &teaser-02 {
    text-align: center;
    .cmp-teaser {
      position: relative;
      display: inline-block;
      overflow: hidden;
    }
    .cmp-teaser__image ~ .cmp-teaser__content {
      position: absolute;
      bottom: 14%;
      left: 6.5%;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      @include sp {
        bottom: 6.5%;
        left: 7%;
      }
      .cmp-teaser__title {
        font-size: 3.2rem;
        text-align: left;
        @include sp {
          font-size: 2rem;
        }
      }
      .cmp-teaser__txt {
        padding: 5px 0 5px 50px;
        margin-top: 40px;
        font-size: 1.8rem;
        text-align: left;
        //background: url(/common-assets/img/ico-arrow_04.svg) no-repeat;
        background: url(../img/ico-arrow_04.svg) no-repeat;
        background-size: contain;
        @include sp {
          padding: 4px 0 4px 40px;
          margin-top: 20px;
          font-size: 1.2rem;
          line-height: 1.67;
        }
      }
    }
    &.right {
      .cmp-teaser__image ~ .cmp-teaser__content {
        right: 6.5%;
        left: auto;
        @include sp {
          right: auto;
          bottom: 6.5%;
          left: 7%;
        }
      }
    }
    .cmp-image__link {
      display: inline-block;
      text-decoration: none;
    }
  }

  // 006-製品パネル
  &productpanel-01 {
    .cmpjt-carousel-01 {
      .cmpjt-teaser-02 {
        .cmp-teaser {
          width: 100%;
          margin: inherit;
          .cmp-teaser__image {
            .cmp-image {
              img {
                height: auto;
              }
            }
          }
          .cmp-teaser-textcbox {
            @include sp {
              top: 37%;
              bottom: 0;
              height: auto;
              max-height: initial;
            }
            .cmpjt-image-01 {
              padding: 0 8%;
              margin-top: 26%;
              .cmp-image {
                @include sp {
                  max-width: initial;
                }
              }
              &.cmpjt-image-logo {
                padding: 0 8%;
                .cmp-image {
                  @include sp {
                    max-width: 130px;
                  }
                  img {
                    width: inherit;
                  }
                }
              }
            }
            & > .aem-Grid {
              > .aem-GridColumn:nth-child(1) {
                @include sp {
                  order: 2;
                }
              }
              & > .aem-GridColumn:nth-child(2) {
                @include sp {
                  order: 1;
                }
              }
              & > .aem-GridColumn:nth-child(3) {
                @include sp {
                  order: 3;
                }
              }
            }
            .cmpjt-heading-05 {
              .cmp-title__text {
                @include sp {
                  margin-bottom: 6%;
                  font-size: 1.2rem;
                }
              }
            }
            .color-darkblackclear {
              .cmp-title__text {
                color: #373a36;
              }
              .cmp-image__link {
                color: #373a36;
                //background: url(/common-assets/img/ico-arrow_06.svg) no-repeat;
                background: url(../img/ico-arrow_06.svg) no-repeat;
                background-size: 35px;
                @include sp {
                  padding: 5px 0px 9px 30px;
                  //background: url(/common-assets/img/ico-arrow_06.svg) no-repeat left center;
                  background: url(../img/ico-arrow_06.svg) no-repeat left center;
                  background-size: 23px;
                }
              }
            }
            .cmp-image__link {
              display: inline;
              max-width: initial;
              padding: 5px 0 6px 40px;
              margin-top: 5px;
              //background: url(/common-assets/img/ico-arrow_04.svg) no-repeat;
              background: url(../img/ico-arrow_04.svg) no-repeat;
              background-size: 35px;
              border: none;
              @include sp {
                padding: 5px 0px 9px 30px;
                //background: url(/common-assets/img/ico-arrow_04.svg) no-repeat left center;
                background: url(../img/ico-arrow_04.svg) no-repeat left center;
                background-size: 23px;
              }
              .cmp-teaser__txt {
                display: inline;
                font-size: 1.8rem;
                @include sp {
                  font-size: 1.4rem;
                }
              }
            }
            .cmp-teaser__content {
              @include sp {
                margin-top: 11%;
              }
            }
          }
        }
      }
    }
  }

  // 007-Title(v2) タイトル
  // h1 タイトル
  &heading-01 {
    .cmp-title__text {
      margin: 80px 0;
      font-size: 4.5rem;
      line-height: 1.51;
      letter-spacing: 6px;
    }
    @include sp {
      .cmp-title__text {
        margin: 50px 0;
        font-size: 3.2rem;
        line-height: 1.5;
      }
    }
  }

  // h2 タイトル
  &heading-02 {
    .cmp-title__text {
      margin: 40px 0;
      font-size: 3.2rem;
      line-height: 1.56;
    }
    @include sp {
      .cmp-title__text {
        margin: 30px 0;
        font-size: 2.6rem;
        line-height: 1.5;
      }
    }
  }

  // h3 タイトル
  &heading-03 {
    .cmp-title__text {
      margin: 30px 0;
      font-size: 2.6rem;
      line-height: 1.5;
    }
    @include sp {
      .cmp-title__text {
        margin: 20px 0;
        font-size: 2rem;
        line-height: 1.5;
      }
    }
  }

  // h4 タイトル
  &heading-04 {
    .cmp-title__text {
      margin: 20px 0;
      font-size: 2rem;
      line-height: 1.5;
    }
    @include sp {
      .cmp-title__text {
        margin: 15px 0;
        font-size: 1.8rem;
        line-height: 1.5;
      }
    }
  }

  // h5 タイトル
  &heading-05 {
    .cmp-title__text {
      margin: 20px 0;
      font-size: 1.8rem;
      line-height: 1.5;
    }
    @include sp {
      .cmp-title__text {
        margin: 10px 0;
        font-size: 1.6rem;
        line-height: 1.5;
      }
    }
  }

  // 008-Text(v2) テキスト
  &text-01 {
    // テキスト font-size:1.6rem
    .cmp-text {
      font-size: 1.6rem;
      @include sp {
        font-size: 1.4rem;
      }
      p {
        line-height: 1.9;
      }
    }

    // テキスト font-size:1.4rem
    &.font-sizeXL {
      .cmp-text {
        font-size: 1.4rem;
        @include sp {
          font-size: 1.2rem;
        }
        p {
          line-height: 1.63;
          @include sp {
            line-height: 1.67;
          }
        }
      }
    }

    // テキスト 中央寄せ
    &.center {
      text-align: center;
    }

    // テキスト 右寄せ
    &.right {
      text-align: right;
    }

    // テキスト 左寄せ
    &.left {
      text-align: left;
    }

    @include sp {
      // テキスト 中央寄せ
      &.sp-center {
          text-align: center;
      }

      // テキスト 右寄せ
      &.sp-right {
        text-align: right;
      }

      // テキスト 左寄せ
      &.sp-left {
        text-align: left;
      }
    }

    // テキスト 文字色：黒（透過50%）
    &.color-blackclear {
      .cmp-text {
        color: rgba(0, 0, 0, 0.5);
      }
    }

    // テキスト 文字色：黒
    &.color-darkblackclear {
      .cmp-text {
        color: #373a36;
      }
    }

    // テキスト 文字色：白（透過50%）
    &.color-whiteclear {
      .cmp-text {
        color: rgba(255, 255, 255, 0.5);
      }
    }
  }

  // 011-Image
  &image-01 {
    // Image 中央寄せ
    &.center {
      text-align: center;
    }

    // Image 右寄せ
    &.right {
      text-align: right;
    }
  }

  // 013-Container
  &container-01 {
    .cmpjt-teaser-02 {
      .cmp-teaser {
        width: 100%;
        margin: 0 calc(50% - 50vw);
        @include sp {
          width: 100%;
        }
        .cmp-teaser__image {
          .cmp-image {
            img {
              width: 100%;
              height: 898px;
              object-fit: cover;
              @include sp {
                height: 636px;
              }
            }
          }
        }
      }
      .cmp-teaser__image ~ .cmp-teaser__content {
        top: 44%;
        right: 0;
        bottom: 0;
        left: 50%;
        width: 100%;
        max-width: 1280px;
        height: 320px;
        transform: translateY(-50%) translateX(-50%);
        @include sp {
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          display: block;
          height: 530px;
          margin: auto;
          transform: none;
        }
      }
      .cmpjt-heading-01 {
        .cmp-title__text {
          margin: 0;
        }
      }
      .cmpjt-text-01 {
        .cmp-text {
          margin: 75px 0 40px;
          @include sp {
            margin: 47px 0 33px;
          }
        }
      }
    }
    &.type01 {
      .cmpjt-teaser-02 {
        .cmp-teaser__image ~ .cmp-teaser__content {
          top: 4%;
          right: 0;
          bottom: 0;
          left: 0;
          height: 700px;
          margin: auto;
          transform: none;
          @include sp {
            top: 43%;
          }
        }
        .cmpjt-text-01 {
          .cmp-text {
            margin-top: 9%;
          }
        }
      }
    }
  }

  // 014-Carousel
  &carousel-02 {
    display: flex;
    justify-content: center;
    margin: 0 calc(50% - 50vw);
    .cmp-carousel__item {
      margin: 0 15px;
    }
    .cmp-carousel-textcbox {
      position: absolute;
      top: 50%;
      left: 50%;
      margin: auto;
      transform: translateY(-50%) translateX(-50%);
      .cmpjt-heading-04 {
        .cmp-title__text {
          margin-top: 55px;
        }
      }
    }
  }

  // 015-Carousel
  &carousel-03 {
    .cmpjt-list-01 {
      .cmp-carousel__item {
        display: none;
        text-align: center;
        &.cmp-carousel__item--active {
          display: block;
          .cmpjt-image-01 {
            @include sp {
              padding: 0 23.8%;
            }
          }
        }
      }
    }
    .cmp-carousel__pager {
      padding-bottom: 45px;
      margin-top: 45px;
      ul {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
        max-width: 320px;
        margin: 0 auto;
        text-align: center;
        li {
          position: relative;
          padding: 4.38%;
          margin: 0 1.5% 1%;
          line-height: 0;
          cursor: pointer;
          border-radius: 30px;
          span {
            position: absolute;
            bottom: -40px;
            left: -35px;
            width: 160px;
            margin: auto;
            cursor: initial;
          }
          > div {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            display: inline-block;
            margin: 2px;
            border: 4px solid #ffffff;
            border-radius: 20px;
          }
          &.item-color-01 > div {
            background: #ed6d6d;
          }
          &.item-color-02 > div {
            background: #ed6d6d;
          }
          &.item-color-03 > div {
            background: #ed6d6d;
          }
          &.item-color-04 > div {
            background: #ed6d6d;
          }
          &.item-color-05 > div {
            background: #ed6d6d;
          }
          &.item-color-06 > div {
            background: #ed6d6d;
          }
          &.item-color-07 > div {
            background: #ed6d6d;
          }
          &.item-color-08 > div {
            background: #ed6d6d;
          }
          &.item-color-09 > div {
            background: #ed6d6d;
          }
          &.item-color-10 > div {
            background: #ed6d6d;
          }
          &.item-color-11 > div {
            background: #ed6d6d;
          }
          &.item-color-12 > div {
            background: #ed6d6d;
          }
          &.item-color-13 > div {
            background: #ed6d6d;
          }
          &.item-color-14 > div {
            background: #ed6d6d;
          }
          &.item-color-15 > div {
            background: #ed6d6d;
          }
          &.item-color-16 > div {
            background: #ed6d6d;
          }
          &[aria-selected="true"] {
            background: rgba(55, 58, 54, 0.8);
            span {
              display: block;
            }
          }
          &[aria-selected="false"] {
            span {
              display: none;
            }
          }
        }
      }
    }
  }

  // 017-製品ディティール
  &detail-01 {
    .cmpjt-heading-02 {
      .cmp-title__text {
        margin: 20px 0 5px;
        font-size: 4.5rem;
        font-weight: 200;
        @include sp {
          margin: 5px 0 0;
          font-size: 3.2rem;
          font-weight: 400;
        }
      }
    }
    .cmpjt-text-01 {
      &.font-sizeXL {
        .cmp-text {
          margin-bottom: 28px;
          font-size: 2rem;
          font-weight: 200;
          @include sp {
            font-size: 1.6rem;
            font-weight: 400;
          }
        }
      }
    }
    .cmp-detail {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      @include sp {
        max-width: 100%;
      }
      li {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        width: 100%;
        max-width: 47.5%;
        height: 127px;
        margin-right: 5%;
        text-align: center;
        border: 1px solid rgba(255, 255, 255, 0.4);
        border-radius: 6px;
        &:nth-child(2n) {
          margin-right: 0;
        }
        @include sp {
          width: 100%;
          max-width: 49%;
          height: 90px;
          margin-right: 2%;
        }
        dl {
          dt {
            font-weight: 400;
            .cmpjt-text-01 {
              .cmp-text {
                font-size: 1.4rem;
                p {
                  line-height: 1.4;
                }
                @include sp {
                  font-size: 1.2rem;
                }
              }
            }
          }
          dd {
            .cmpjt-text-01 {
              .cmp-text {
                font-size: 3.2rem;
                p {
                  line-height: 1.4;
                }
                @include sp {
                  font-size: 2.4rem;
                }
              }
            }
          }
        }
        &:nth-child(n + 3) {
          margin-top: 30px;
          @include sp {
            margin-top: 8px;
          }
        }
      }
    }
  }

  // 18-スライドナビ
  &slidenav-01 {
    .cmp-list {
      ul {
        display: flex;
        justify-content: center;
        li {
          padding: 0 20px;
          a {
            text-decoration: none;
          }
        }
      }
    }
  }

  // 019-製品パネル
  &pane-01 {
    .cmp-pane {
      position: relative;
      height: 620px;
      padding: 25px 35px 50px;
      background: #f6f4ea;
      border-radius: 6px;
      @include sp {
        height: 560px;
        padding: 25px;
        margin: 0 auto;
      }
    }
    &.center {
      .cmp-pane {
        margin: 0 auto;
      }
    }
    .label {
      position: absolute;
      display: block;
      width: 100%;
      .cmp-label {
        .label {
          display: block;
          max-width: 52px;
          padding: 3px 0;
          font-size: 1.2rem;
          color: #ffffff;
          text-align: center;
          background: #6c708e;
          border-radius: 6px;
        }
      }
    }
    .image {
      padding: 0 11%;
      margin-top: 38px;
      .cmp-image {
        max-width: 205px;
        margin: 0 auto;
        @include sp {
          max-width: 175px;
        }
      }
    }
    .text-box {
      width: 100%;
      margin-top: 30px;
      @include sp {
        margin-top: 20px;
      }
      .title {
        .cmp-title {
          font-size: 2rem;
          font-weight: 100;
          color: $coalblack;
          text-align: center;
          @include sp {
          }
        }
      }
      .cmpjt-text-01 {
        margin-top: 14px;
        .cmp-text {
          font-size: 1.2rem;
          color: rgba(0, 0, 0, 0.5);
        }
        + .cmpjt-text-01 {
          margin-top: 30px;
          @include sp {
            margin-top: 7px;
          }
        }
      }
      .cmpjt-button-01 {
        margin-top: 35px;
        @include sp {
          margin-top: 30px;
        }
        .cmp-button {
          max-width: 180px;
          padding: 13px 0;
          font-size: 1.2rem;
          font-weight: 100;
        }
      }
    }
    &.type02 {
      .cmp-pane {
        height: 629px;
        background: #373a36;
        .title {
          .cmp-title {
            font-size: 2rem;
            text-align: center;
            @include sp {
              font-size: 1.8rem;
            }
          }
          + .cmpjt-text-01 {
            margin-top: 16px;
          }
        }
        .definition-list {
          margin-top: 25px;
          dl {
            width: 100%;
            overflow: hidden;
            dt {
              float: left;
              width: 50%;
              @include sp {
                font-size: 1.2rem;
              }
              &:nth-child(n + 3) {
                margin-top: 28px;
              }
            }
            dd {
              float: left;
              width: 50%;
              @include sp {
                font-size: 1.2rem;
              }
              &:nth-child(n + 3) {
                margin-top: 28px;
              }
            }
          }
        }
        .text-box {
          bottom: 25px;
          .cmpjt-button-01 {
            margin-top: 38px;
            .cmp-button {
              max-width: inherit;
              padding: 14px 0;
            }
          }
          .cmpjt-text-01 {
            .cmp-text {
              color: inherit;
            }
          }
        }
      }
      .image {
        padding: 0;
        margin-top: 36px;
        .cmp-image {
          max-width: initial;
        }
      }
    }
  }

  // 20-NEWS記事日付
  &day-01 {
    .cmp-text {
      position: relative;
      padding-top: 15px;
      @include sp {
        font-size: 1.2rem;
      }
      ::before {
        position: absolute;
        top: 0;
        left: 0;
        width: 80px;
        height: 1px;
        content: "";
        border-top: 1px solid rgba(255, 255, 255, 0.4);
        @include sp {
          width: 100px;
        }
      }
    }
  }

  // 22-NEWS一覧ページング
  &paging-01 {
    .cmp-paging {
      display: flex;
      justify-content: center;
      width: 100%;
      max-width: 600px;
      padding: 30px 40px;
      margin: 150px auto 0;
      margin-top: 150px;
      border: 1px solid rgba(255, 255, 225, 0.4);
      border-radius: 6px;
      @include sp {
        max-width: 325px;
        padding: 19px 0 19px;
      }
      .previous,
      .next {
        a {
          display: block;
          font-size: 1.4rem;
          text-decoration: none;
          @include sp {
            font-size: 1.2rem;
          }
          .arrow {
            display: block;
            margin: 0 0 5px 0;
            @include sp {
              margin: 0 0 17px 0;
            }
            img {
              margin: 0 auto;
            }
          }
        }
      }
      .previous {
        a {
          .arrow {
            @include sp {
              margin: 0 0 17px 0;
            }
            img {
              transform: rotate(-180deg);
            }
          }
        }
      }
      ul {
        display: flex;
        justify-content: center;
        padding: 15px 70px;
        @include sp {
          padding: 0 18px;
        }
        li {
          padding: 0 20px;
          @include sp {
            padding: 8px 9px;
          }
          a {
            font-size: 2rem;
            text-decoration: none;
            @include sp {
              font-size: 1.4rem;
            }
          }
        }
      }
    }
  }

  // 23-NEWS記事ページング
  &paging-02 {
    .cmp-paging {
      display: flex;
      justify-content: space-between;
      width: 100%;
      max-width: 600px;
      padding: 30px 40px;
      margin: 150px auto 0;
      margin-top: 150px;
      border: 1px solid rgba(255, 255, 225, 0.4);
      border-radius: 6px;
      @include sp {
        max-width: 325px;
        padding: 19px 20px 19px;
      }
      .previous,
      .next,
      .pagelist {
        a {
          display: block;
          font-size: 1.4rem;
          text-decoration: none;
          @include sp {
            font-size: 1.2rem;
          }
          .arrow {
            display: block;
            margin: 0 0 5px 0;
            @include sp {
              margin: 0 0 17px;
            }
            img {
              margin: 0 auto;
            }
          }
          .list {
            display: block;
            margin-bottom: 10px;
            img {
              display: block;
              margin: 0 auto;
            }
          }
        }
      }
      .pagelist {
        margin-top: 10px;
      }
      .previous {
        a {
          .arrow {
            @include sp {
              margin: 0 0 17px;
            }
            img {
              margin: 0 auto;
              transform: rotate(-180deg);
            }
          }
        }
      }
    }
  }

  // 024- 店舗パネル
  &shoppanel-01 {
    position: relative;
    height: 100%;
    @include sp {
      margin-top: 12px;
    }
    .cmpjt-heading-03 {
      .cmp-title__text {
        margin: 0 0 17px;
      }
    }
    .cmpjt-text-01 {
      .cmp-text {
        margin-bottom: 15px;
      }
      &:last-child {
        .cmp-text {
          margin-bottom: 0;
        }
      }
      a {
        position: absolute;
        right: 0;
        bottom: 0;
      }
    }
  }

  // 025-カスタマーサポート
  &support-01 {
    padding: 70px 100px 80px;
    background: #6c708e;
    border-radius: 6px;
    .cmpjt-heading-02 {
      &.left {
        text-align: center;
      }
    }
    @include sp {
      padding: 58px 40px;
    }
    .cmp-title__text {
      padding-left: 40px;
      margin: 28px 0;
      @include sp {
        padding-left: 0;
        margin-top: 0;
      }
    }
    .cmpjt-supportlist {
      margin-top: 48px;
      ul {
        display: flex;
        flex-wrap: wrap;
        li {
          width: 23%;
          margin-right: 10.7%;
          @include sp {
            width: 100%;
            margin-right: 0;
            margin-bottom: 26px;
          }
          &:nth-child(1) {
            max-width: 237px;
            @include sp {
              max-width: 100%;
            }
          }
          &:nth-child(2) {
            max-width: 204px;
            @include sp {
              max-width: 100%;
            }
          }
          &:nth-child(3) {
            max-width: 231px;
            @include sp {
              max-width: 100%;
            }
          }
          &:last-child {
            margin-right: 0;
            @include sp {
              margin-bottom: 0;
            }
          }
          a {
            display: block;
            padding-right: 41px;
            text-decoration: none;
            //background: url("/common-assets/img/ico-arrow_04.svg") right 35px;
            background: url("../img/ico-arrow_04.svg") right 35px;
            background-repeat: no-repeat;
            @include sp {
              background-size: 25px;
            }
            .image.cmpjt-image-01 {
              & + .cmpjt-text-01 {
                .cmp-text {
                  margin-top: 15px;
                  font-size: 2.6rem;
                  @include sp {
                    font-size: 2rem;
                  }
                  br {
                    @include sp {
                      display: none;
                    }
                  }
                }
                & + .cmpjt-text-01 {
                  .cmp-text {
                    margin-top: 28px;
                    @include sp {
                      margin-top: 0;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  // 026- Accordion
  &accordion-01 {
    .cmp-accordion {
      .cmp-accordion__item {
        padding: 17px 42px 30px 22px;
        margin-bottom: 12px;
        border: 1px solid rgba(255, 255, 255, 0.4);
        border-radius: 6px;
        .cmp-accordion__header {
          position: relative;
          .cmp-accordion__button {
            .cmp-accordion__title {
              font-size: 1.2rem;
            }
            .cmp-accordion__icon {
              position: absolute;
              top: 0;
              right: -30px;
              bottom: 0;
              display: inline-block;
              width: 25px;
              height: 25px;
              margin: auto;
            }
            &.cmp-accordion__button--expanded {
              .cmp-accordion__icon {
                transform: rotate(180deg);
              }
            }
          }
        }
        .cmp-accordion__panel {
          margin-top: 25px;
        }
        .cmp-accordion__panel--hidden {
          display: none;
        }
        .cmp-accordion__panel--expanded {
          display: block;
        }
      }
    }
  }

  // 28-Search
  &search-01 {
    .cmp-search {
      padding: 5px 5px;
      border: 1px solid #ffffff;
      border-radius: 3px;
      input::placeholder {
        color: rgba(255, 255, 225, 0.4);
      }
      #search {
        width: 100%;
        max-width: calc(100% - 28px);
      }
    }
  }

  // 30-製品パネル（カルーセル有）
  &pane-carousel-01 {
    .cmp-pane {
      height: 662px;
    }
    .cmpjt-carousel-03 {
      .cmp-carousel__pager {
        padding-bottom: 0;
        margin-top: 25px;
        ul {
          li {
            &[aria-selected="true"] {
              span {
                text-indent: -3000px;
              }
            }
          }
        }
      }
    }
    &.cmpjt-pane-01 {
      .cmpjt-image-01 {
        margin-top: 27px;
      }
      .text-box {
        margin-top: 15px;
        .cmpjt-text-01 {
          + .cmpjt-text-01 {
            margin-top: 13px;
          }
        }
        .cmpjt-button-01 {
          position: absolute;
          right: 0;
          bottom: 50px;
          left: 0;
          margin: auto;
        }
      }
    }
  }

  // 31-Embed(v1) HTML
  &surround-01 {
    padding: 30px;
    border: 1px solid #f6f4ea;
    border-radius: 6px;
    @include sp {
      padding: 23px;
    }
  }

  // 38-List (v2)
  &list-01 {
    .cmp-list {
      ul {
        li {
          margin-bottom: 5px;
          a {
            display: inline-block;
            padding: 5px 0 5px 40px;
            text-decoration: none;
            background: url("../img/ico-arrow_05.svg");
            background-repeat: no-repeat;
            @include sp {
              padding: 5px 0 5px 35px;
            }
          }
        }
      }
    }
  }

  &list-02 {
    .cmp-list-link {
      ul {
        li {
          position: relative;
          margin-bottom: 5px;
          a {
            display: inline-block;
            padding: 5px 0 5px 10px;
            text-decoration: none;
          }
          &:before {
            position: absolute;
            top: 12px;
            left: 0;
            display: block;
            width: 5px;
            height: 5px;
            content: "";
            background: #ceb888;
            border-radius: 50%;
          }
        }
      }
    }
  }

  &list-03 {
    .cmp-list {
      ul {
        li {
          position: relative;
          padding: 5px 0 5px 10px;
          margin-bottom: 5px;
          text-decoration: none;
          &:before {
            position: absolute;
            top: 12px;
            left: 0;
            display: block;
            width: 5px;
            height: 5px;
            content: "";
            background: #ffffff;
            border-radius: 50%;
          }
        }
      }
    }
  }

  &list-04 {
    .cmp-list {
      ol {
        counter-reset: item;
        li {
          position: relative;
          padding: 5px 0 5px 15px;
          margin-bottom: 5px;
          text-decoration: none;
          &:before {
            position: absolute;
            top: 7px;
            left: 0;
            display: block;
            font-size: 1.2rem;
            content: counter(item) ".";
            counter-increment: item;
          }
        }
      }
    }
  }
}
