body {
  background: #c5c5c5;
}
img {
  max-width: 100%;
}
.sample-list li {
  margin-bottom: 30px;
}
.sample-list li a {
  color: #141514;
  text-decoration: underline;
}
.wrapper-Inner > h1 {
  color: #141514;
  font-size: 45px;
  text-align: center;
  margin-bottom: 40px;
  margin-top: 138px;
}
@media screen and (max-width:767px) {
.wrapper-Inner > h1 {
  margin-top: 56px;
}
}
.sample-ttlh2 {
  text-align: center;
  color: #141514;
  font-size: 20px;
  margin-bottom: 15px;
  margin-top: 60px;
}
.sample-code {
  width: 100%;
  margin: 20px 0 60px;
}
